body{
	padding-top:51px;
}
pre{
	font: 400 14px/1.4em 'Operator Mono Ssm','source code pro',consolas,monospace;
	border-radius: 0;
	background-color: transparent;
	margin:0;
	border:0;
	border-bottom:1px solid #ddd;
	white-space: pre-wrap;
}

#console{
	padding-bottom:10px;
}
#console li{
	position: relative;
	opacity: .5;
	transition: opacity .25s;
}
#console li:nth-child(even) { background-color: #f5f5f5; }
#console li:last-child { opacity: 1; }

.navbar-fixed-bottom + #console {
	padding-bottom:51px;
}

#status-message{
	margin:0;
	border-radius: 0;
	border-width: 1px 0 0 0;
}
.timestamp{
	position: absolute;
	right:1em;
	top:1em;
	font-size: 1.2em;
	font-weight: 600;
	color: #888;
}
.navbar-header {
	float: left !important;
}
.navbar-nav{
	margin: 0 !important;
}
.navbar-nav>li>a{
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
}