body, table {
	font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body table[class^=cfdump]{
	font-family: 'OperatorMonoSSm-Book',Menlo,Consolas, monospace;
	font-size:11px;
}
textarea {resize:none;}

/* Containers */
#timestamp{display: block; font-size:.6em; margin:.3em 0;}
#live-stats{
	opacity: 1;
}
#live-stats.off{
	opacity: 0;
	height:0;
	overflow: hidden;
}
#live-stats + .alert{
	margin-bottom: 99px;
}
#sig {
	position: fixed;
	bottom:0;
	width: 100vw;
	background-color: #eee;
	border-top:1px solid #ddd;
	padding: 1em;
	margin:0;
	text-align: center;
}

/* Classes */
.page-header {
	margin-top:0;
}
.large-data {
	font-size:6em;
	font-weight:700;
}
.top-20{margin-top:20px;}